<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>withoutSeparator</key>
			<true/>
			<key>BottomShadow</key>
			<false/>
			<key>TopShadow</key>
			<false/>
			<key>clickable</key>
			<false/>
			<key>cellParent</key>
			<integer>-1</integer>
			<key>level</key>
			<integer>1</integer>
			<key>cellIdentifier</key>
			<string>idCellSeparator</string>
		</dict>
		<dict>
			<key>BottomShadow</key>
			<true/>
			<key>TopShadow</key>
			<false/>
			<key>clickable</key>
			<true/>
			<key>cellParent</key>
			<integer>-1</integer>
			<key>level</key>
			<integer>1</integer>
			<key>cellIdentifier</key>
			<string>idCellParent</string>
		</dict>
		<dict>
			<key>TopShadow</key>
			<true/>
			<key>BottomShadow</key>
			<true/>
			<key>clickable</key>
			<true/>
			<key>cellParent</key>
			<integer>1</integer>
			<key>level</key>
			<integer>2</integer>
			<key>cellIdentifier</key>
			<string>idCellSub</string>
		</dict>
		<dict>
			<key>BottomShadow</key>
			<true/>
			<key>TopShadow</key>
			<false/>
			<key>clickable</key>
			<false/>
			<key>cellParent</key>
			<integer>2</integer>
			<key>level</key>
			<integer>3</integer>
			<key>cellIdentifier</key>
			<string>idCellContent</string>
		</dict>
		<dict>
			<key>TopShadow</key>
			<true/>
			<key>BottomShadow</key>
			<false/>
			<key>clickable</key>
			<true/>
			<key>cellParent</key>
			<integer>-1</integer>
			<key>level</key>
			<integer>1</integer>
			<key>cellIdentifier</key>
			<string>idCellParent</string>
		</dict>
		<dict>
			<key>TopShadow</key>
			<true/>
			<key>BottomShadow</key>
			<false/>
			<key>clickable</key>
			<true/>
			<key>cellParent</key>
			<integer>4</integer>
			<key>level</key>
			<integer>2</integer>
			<key>cellIdentifier</key>
			<string>idCellSub</string>
		</dict>
		<dict>
			<key>TopShadow</key>
			<false/>
			<key>BottomShadow</key>
			<false/>
			<key>clickable</key>
			<false/>
			<key>cellParent</key>
			<integer>5</integer>
			<key>level</key>
			<integer>3</integer>
			<key>cellIdentifier</key>
			<string>idCellContent</string>
		</dict>
		<dict>
			<key>TopShadow</key>
			<false/>
			<key>BottomShadow</key>
			<false/>
			<key>clickable</key>
			<true/>
			<key>cellParent</key>
			<integer>4</integer>
			<key>level</key>
			<integer>2</integer>
			<key>cellIdentifier</key>
			<string>idCellSub</string>
		</dict>
		<dict>
			<key>TopShadow</key>
			<false/>
			<key>BottomShadow</key>
			<false/>
			<key>clickable</key>
			<true/>
			<key>cellParent</key>
			<integer>4</integer>
			<key>level</key>
			<integer>2</integer>
			<key>cellIdentifier</key>
			<string>idCellSub</string>
		</dict>
		<dict>
			<key>TopShadow</key>
			<false/>
			<key>BottomShadow</key>
			<false/>
			<key>clickable</key>
			<true/>
			<key>cellParent</key>
			<integer>3</integer>
			<key>level</key>
			<integer>2</integer>
			<key>cellIdentifier</key>
			<string>idCellSub</string>
		</dict>
		<dict>
			<key>TopShadow</key>
			<false/>
			<key>BottomShadow</key>
			<false/>
			<key>clickable</key>
			<true/>
			<key>cellParent</key>
			<integer>4</integer>
			<key>level</key>
			<integer>2</integer>
			<key>cellIdentifier</key>
			<string>idCellSub</string>
		</dict>
		<dict>
			<key>TopShadow</key>
			<false/>
			<key>BottomShadow</key>
			<false/>
			<key>clickable</key>
			<true/>
			<key>cellParent</key>
			<integer>4</integer>
			<key>level</key>
			<integer>2</integer>
			<key>cellIdentifier</key>
			<string>idCellSub</string>
		</dict>
		<dict>
			<key>TopShadow</key>
			<false/>
			<key>BottomShadow</key>
			<false/>
			<key>clickable</key>
			<true/>
			<key>cellParent</key>
			<integer>4</integer>
			<key>level</key>
			<integer>2</integer>
			<key>cellIdentifier</key>
			<string>idCellSub</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>TopShadow</key>
			<false/>
			<key>BottomShadow</key>
			<false/>
			<key>clickable</key>
			<true/>
			<key>cellParent</key>
			<integer>4</integer>
			<key>level</key>
			<integer>2</integer>
			<key>cellIdentifier</key>
			<string>idCellSub</string>
		</dict>
		<dict>
			<key>withoutSeparator</key>
			<true/>
			<key>BottomShadow</key>
			<false/>
			<key>TopShadow</key>
			<false/>
			<key>clickable</key>
			<true/>
			<key>cellParent</key>
			<integer>-1</integer>
			<key>level</key>
			<integer>1</integer>
			<key>cellIdentifier</key>
			<string>idCellCombination</string>
		</dict>
	</array>
</array>
</plist>
